main {
    display: grid;
    grid-template-areas: 
        "nav"
        "header"
        "article"
        "aside"
        "footer";
}

.album_page {
    display: none;
}

.artist_page {
    display: none;
}

.logo {
    display: flex;
}

.logo > img {
    padding: 10px;
}

.logo > h2 {
    padding: 10px;
}

.logo_img{
    border-radius: 100px;
    width: 75px;
}

.nav {
    background-color: #FFB0B0;
    height: 100px;
    justify-content: space-between;
    margin: 10px;
} 

.navbar {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 90%;
    margin: auto;
    justify-content: space-between;
}

.menu {
    display: flex;
}

.menu li {
    padding: 10px;
}

.menu > li {
    list-style-type: none;
}

.menu a {
    color: #112A46;
    font-weight: bold;
    text-decoration: none;
}

.menu a:hover {
    color: #FFF7D1;
}

.header {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

.header > div {
    padding: 20px;
}

h1 {
    font-size: 2rem;
    color: #112A46;
}

h2 {
    font-size: 1.5rem;
    color: #112A46;;
}

figcaption {
    font-size: 1.5rem;
    color: #112A46;;
    font-weight: bold;
}

p {
    font-size: 1.25rem;
    font-weight: bold;
    color: #112A46;
}

.video {
    display: flex;
    justify-content: center;
}

iframe {
    padding: 20px;
}



/* .logo {
    border-radius: 25px;
    display: flex;
    float: left;
} */

/* .menu {
    display: flex;
    float: left;
} */

#grid-container {
    display: grid;
    grid-template-columns: auto;
 }

 
 #grid-container > div {
    text-align: center;
    background: #FFD09B;
/*     border: 3px solid green; */
    padding: 10px;
    margin: 10px;
    padding-top: 20px;
 }

 nav {
    grid-area: nav;
 }

 header {
    grid-area: header;
 }

 article {
    grid-area: article;
 }
 
 aside {
    background-color: #FFECC8;
    grid-area: aside;
    margin: 10px;
 }

 footer {
    margin: 10px;
    background-color: #FFB0B0;
    grid-area: footer;
    display: flex;
    justify-content: space-between;
    align-items: center;
 }

 footer > div{
    margin: 20px;
 }

 .socials > img{
    width: 75px;
 }

 hr {
    margin: 25px 50px;
    height: 2px;
    border: none;
    background-color: black;
 }

 @media only screen and (min-width: 800px) {
    main {
        display: grid;
        grid-template-areas: 
            "nav nav nav"
            "header header header"
            "article article article"
            "aside aside aside"
            "footer footer footer";
    }

    #grid-container {
        display: grid;
        grid-template-columns: auto auto;
     }
}


 @media only screen and (min-width: 1300px) {
    main {
        display: grid;
        grid-template-areas: 
            "nav nav nav"
            "header header header"
            "article article aside"
            "footer footer footer";
    }

    #grid-container {
        display: grid;
        grid-template-columns: auto auto;
     }
}

